.flaticon-001-facebook{
    width: 36px;
    height: 36px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/1384/1384005.png");
    background-size: cover;
}
.flaticon-002-twitter{
    width: 36px;
    height: 36px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/1384/1384017.png");
    background-size: cover;
}
.flaticon-011-instagram{
    width: 36px;
    height: 36px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/1384/1384015.png");
    background-size: cover;
}
.flaticon-010-linkedin{
    width: 36px;
    height: 36px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/1384/1384014.png");
    background-size: cover;
}
.flaticon-008-whatsapp{
    width: 36px;
    height: 36px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/1384/1384007.png");
    background-size: cover;
}